// Variables
$primary-color: #90e0ef;
$secondary-color: #0096c7;
$text-color:#ffffff;
$light-gray: #023e8a;
$card-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
// Breakpoint 
$breakpoint-small: 480px;
$breakpoint-medium: 768px;
$breakpoint-large: 1024px;
// Temel spacing 
$base-spacing: 1rem; // 16px