@use "variables";

// Base styles
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: variables.$secondary-color;
    line-height: 1.6;
    padding: 20px;

    @media (max-width: variables.$breakpoint-medium) {
        padding: 0.5rem;
    }
}

.header {
    text-align: center;
    margin-bottom: 0.8rem;
    padding: 0.9rem;
    background-color: variables.$primary-color;
    border-radius: 8px;
    box-shadow: variables.$card-shadow;

    @media (max-width: variables.$breakpoint-medium) {
        padding: variables.$base-spacing * 0.5;
    }

    h1 {
        color: variables.$light-gray;
        margin-bottom: 1rem;
        font-size: 1.5rem;
    }
}

#rss-list {
    background-color: variables.$primary-color;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 90%;
    margin: 1rem auto;

    @media (max-width: variables.$breakpoint-medium) {
        width: 95%;
        padding: 0.5rem;
    }

    .rss-list-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;
        flex-direction: row;

        #rss-list-collapse-btn {
            padding: 0.5rem 1rem;
            background-color: variables.$secondary-color;
            color: variables.$text-color;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s;

            &:hover {
                background-color: variables.$secondary-color;
            }
        }
    }

    h4 {
        margin-bottom: 0.75rem;
        font-size: 1.2rem;
        color: variables.$light-gray;
        text-align: center;
    }
}

#saved-feeds-list {
    list-style: none;
    padding: 20px;
    margin: 0;
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    overflow: hidden;

    @media (max-width: variables.$breakpoint-small) {
        flex-direction: column;
    }

    &.collapsed {
        max-height: 0;
    }

    li {
        padding: 0.5rem 0.75rem;
        margin-bottom: 0.5rem;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        &.feed-item {
            border-radius: 8px;
            padding: 0px;
            justify-content: space-between;
            display: flex;
            background-color: #015470;
            position: relative;

            &.active-feed {
                background-color: rgb(42, 173, 225);
                box-shadow: rgba(0, 0, 0, 0.25) 0px 12px 24px, rgba(0, 0, 0, 0.22) 0px 10px 10px !important;

                // &:before {
                //     content: "\f005";
                //     font-family: "Font Awesome 6 Free";
                //     position: absolute;
                //     top: -15px;
                //     left: -7px;
                //     font-size: 12px;
                //     color: #023e8a;
                // }
            }

            .feed-toggle {
                color: #fff;
                font-size: 15px;
                font-weight: 500;
            }

            .feed-label {
                justify-content: space-between;
                width: 100%;
            }

            .delete-btn {
                background: transparent;
                border: none;
                cursor: pointer;
                font-size: 16px;
            }
        }
    }
}

label {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 6px;
}

.feed-toggle {
    background: transparent;
    border: 1px solid transparent;
    padding: 6px 10px;
    border-radius: 6px;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 8px;

    i {
        font-size: 16px;
    }
}

.feed-controls {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 1rem;

    @media (max-width: variables.$breakpoint-small) {
        flex-direction: column;
        align-items: center;

        input {
            width: 100%;
            max-width: 100%;
        }
    }

    input {
        padding: 0.5rem 1rem;
        border: 1px solid #f5f5f8;
        border-radius: 4px;
        width: 400px;
        max-width: 80%;
    }

    button {
        padding: 0.5rem 1.5rem;
        background-color: variables.$secondary-color;
        color: variables.$text-color;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
            background-color: variables.$secondary-color;
        }
    }
}

.rss-manager {
    width: 100%;
    max-width: 100%;
    margin: 2rem auto;
    padding: 1rem;
    background-color: variables.$text-color;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

#rss-form {
    width: 90%;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    margin: 0 auto;
    padding: 1rem 1rem;
    background-color: variables.$primary-color;
    border-radius: 8px;

    @media (max-width: variables.$breakpoint-small) {
        flex-direction: column;
    }

    #new-rss-url,
    .form-control {
        flex: 1;
        padding: 0.5rem 0.75rem;
        font-size: 1rem;
        width: 100%;
        border: 1px solid #b3d6ff;
        border-radius: 6px;
        outline: none;
        transition: border-color 0.2s;

        &:focus {
            border-color: #03485f;
        }
    }

    button {
        padding: 0.5rem 1rem;
        background-color: variables.$secondary-color;
        color: white;
        border: none;
        border-radius: 6px;
        cursor: pointer;
        transition: background-color 0.4s;

        &:hover {
            background-color: #1b7d95;
        }
    }
}

.news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px 0;

    @media (max-width: variables.$breakpoint-small) {
        gap: variables.$base-spacing;

        .news-card {
            .news-image {
                height: 120px;
            }
        }
    }

    .news-card {
        background-color: white;
        overflow: hidden;
        box-shadow: variables.$card-shadow;
        transition: transform 0.5s;
        border-radius: 2%;

        &:hover {
            transform: translateY(-5px);
        }

        .news-image {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: 2%;
        }

        .news-content {
            padding: 1.5rem;

            .news-title {
                font-size: 1.2rem;
                margin-bottom: 0.5rem;
                color: variables.$light-gray;
            }

            .news-description {
                color: #666;
                font-size: 0.9rem;
                margin-bottom: 1rem;
            }

            .news-link {
                display: inline-block;
                color: variables.$secondary-color;
                text-decoration: none;
                font-weight: bold;
                font-size: 0.9rem;

                &:hover {
                    text-decoration: underline;
                }
            }

            .news-date {
                color: variables.$secondary-color;
            }
        }
    }
}

.loading {
    text-align: center;
    padding: 2rem;
    font-size: 1.2rem;
    color: #666;
}

@media (max-width: 768px) {
    .news-grid {
        grid-template-columns: 1fr;
    }
}

.feed-checkbox {
    display: none;
}

li {}